version: '3.8'

services:
  # 1. Le service API (Votre code NestJS)
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: iiaom-api
    ports:
      - "3000:3000"
    environment:
      # Configuration pour Docker (interne)
      NODE_ENV: development
      PORT: 3000
      # Connexion à la base de données ci-dessous
      DB_HOST: postgres_db
      DB_PORT: 5432
      DB_USERNAME: iiaom_user
      DB_PASSWORD: iiaom_password_securise
      DB_NAME: iiaom_db
      DB_SSL: "false" # Pas de SSL en local, c'est normal
      # JWT (Clé temporaire pour le local)
      JWT_SECRET: ma_cle_secrete_super_longue_pour_le_dev_local_123456
      JWT_EXPIRES_IN: 1d
    depends_on:
      - postgres_db
    volumes:
      # Permet de voir les fichiers uploadés même si on redémarre
      - ./uploads:/app/uploads
    networks:
      - iiaom-network

  # 2. Le service Base de Données (PostgreSQL)
  postgres_db:
    image: postgres:15-alpine
    container_name: iiaom-postgres
    ports:
      - "5432:5432" # Accessible aussi depuis votre PC via DBeaver/TablePlus
    environment:
      POSTGRES_USER: iiaom_user
      POSTGRES_PASSWORD: iiaom_password_securise
      POSTGRES_DB: iiaom_db
    volumes:
      # Persistance des données : si vous éteignez Docker, les données restent
      - postgres_data:/var/lib/postgresql/data
    networks:
      - iiaom-network

  # 3. Bonus Ambitieux : Interface d'administration pour la BDD
  pgadmin:
    image: dpage/pgadmin4
    container_name: iiaom-db-admin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@iiaom.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres_db
    networks:
      - iiaom-network

volumes:
  postgres_data:

networks:
  iiaom-network:
    driver: bridge